*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

span, a{
    color: #FF9900;
}

#hero {
    width: 592px;
    margin: 0px auto 72px;
}

#hero img{
    margin-bottom: 72px;
}

#hero h1{
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: 400;
    margin-bottom: 32px;
}

#hero span{
    font-weight: 700;
}

#hero p{
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
}

#line{
    width: 568px;
    height: 0px;
    border: 1px solid #ECEFF2;
    margin: 0px auto 8px;
}

a{
    font-size: 14px;
}

a + a{
    margin-left: 28px;
}

#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}